node_modules
.history
.env
yarn-error.log
coverage
dist
!generators/*/.env
!generators/*/*/.env
apps/*/.env
*.tsbuildinfo
**/turbo*
out
graph*
build
.DS_Store
!apps/APIs/**/.env
!apps/**/.env
!turbo.json
!packages/node/token/.env
.react-email
