version: "3.9"
services:
  database:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: AKIARU2MX2BV4F7KRTMF
    networks:
      - main-network
  client:
    build:
      context: ./.docker
      dockerfile: Dockerfile.compose.client
      args:
        - NEXT_PUBLIC_HELLO="I am a variable"
    environment:
      - NODE_ENV=production
      - PORT=3000
      - NEXT_TELEMETRY_DISABLED=1
    command: node server.js
    restart: always
    networks:
      - main-network
    depends_on:
      - database

  dashboard:
    build:
      context: ./.docker
      dockerfile: Dockerfile.compose.dashboard
      args:
        - REACT_APP_HELLO="I am a variable"
    restart: always
    environment:
      - NODE_ENV=production
      - PORT=3005
      - REACT_APP_HELLO="I am a variable"
    networks:
      - main-network
    depends_on:
      - database
  auth:
    image: auth
    restart: always
    command: yarn workspace auth start:prod
    environment:
      - PORT=3000
      - DATABASE_URI=mongodb://database:27017/auth?authSource=admin
      - ACCESS_TOKEN_SECRET_KEY=%!L+shP~,3g+f:fk
      - REFRESH_TOKEN_SECRET_KEY=7xet#7GaCdDU{t}s
      - DATABASE_USER=root
      - DATABASE_PASSWORD=AKIARU2MX2BV4F7KRTMF
      - TOKEN_EXPIRES_IN=10s
      - REFRESH_TOKEN_EXPIRES_IN=60d
      - NUMBER_OF_AUTH_TRIALS=5
    networks:
      - main-network
    depends_on:
      - database

  imgproxy:
    image: darthsim/imgproxy:latest
    restart: always
    environment:
      - IMGPROXY_USE_S3=true
      - IMGPROXY_S3_REGION=eu-west-3
      - STORAGE_PROVIDER=S3
      - STORAGE_PATH=edonec-turborepo-cache
      - AWS_ACCESS_KEY_ID=AKIARU2MX2BV4F7KRTMF
      - AWS_SECRET_ACCESS_KEY=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
      - IMGPROXY_BIND=:3000
      - IMGPROXY_CACHE_CONTROL_PASSTHROUGH=true
      - IMGPROXY_SET_CANONICAL_HEADER=true
      - IMGPROXY_USE_ETAG=true
      - IMGPROXY_JPEG_PROGRESSIVE=true
      - IMGPROXY_JPEG_TRELLIS_QUANT=true
      - IMGPROXY_JPEG_OVERSHOOT_DERINGING=true
      - IMGPROXY_ENABLE_WEBP_DETECTION=true
      - IMGPROXY_ENFORCE_WEBP=true
    networks:
      - main-network
  proxy-balancer:
    restart: always
    image: proxy-balancer
    depends_on:
      - client
      - dashboard
      - auth
      - database
      - imgproxy
    ports:
      - 3005:80
    networks:
      - main-network

networks:
  main-network:
    driver: bridge
