@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Primary Color =========== */
  /* !STARTERCONF Customize these variable, copy and paste from /styles/colors.css for list of colors */
  --tw-color-primary-50: 253 244 255;
  --tw-color-primary-100: 250 232 255;
  --tw-color-primary-200: 245 208 254;
  --tw-color-primary-300: 240 171 252;
  --tw-color-primary-400: 232 121 249;
  --tw-color-primary-500: 217 70 239;
  --tw-color-primary-600: 192 38 211;
  --tw-color-primary-700: 162 28 175;
  --tw-color-primary-800: 134 25 143;
  --tw-color-primary-900: 112 26 117;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #fdf4ff */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #fae8ff */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #f5d0fe */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #f0abfc */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #e879f9 */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #d946ef */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #c026d3 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #a21caf */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #86198f */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #701a75 */
  /* #endregion  /**======== Primary Color =========== */
}

@layer base {
  /* inter var - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url("../../public/fonts/inter-var-latin.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply font-primary text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-primary text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }

  body,
  .p {
    @apply font-primary text-sm md:text-base;
  }
  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}
